

.mat-toolbar.mat-primary[_ngcontent-c3] {
    background: #bb0e2d;
    color: #fff;
}
.table {
    width: 100%;
  }
  .mat-toolbar.mat-primary[_ngcontent-c6] {
    background: #bb0e2d;
    color: #fff;
}

.mat-card {
    font-family: Roboto,"Arial",sans-serif;
}
.p {
    font-family: "Helvetica ", Helvetica , serif;
    font-style: oblique;
}
